.comments_container {
  width: var(--comment-box-size);
}

.comments_container #comment {
  width: 100%;
}

#comment,
#reply {
  color: var(--gray);
  margin: 10px 0;
  opacity: 0;
}

#reply {
  width: clamp(220px, 95%, 555px);
}

.replies_section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.replies_section::before {
  content: "";
  width: 2px;
  height: 92.5%;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.25);
  position: absolute;
  top: 10px;
  left: 47.5px;
}

.comment_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.profile img {
  height: 37.5px;
}
.profile h2 {
  color: #313131;
  font-weight: 600;
}

.aside_reply {
  display: none;
}

.profile h2,
.comment_modify_button span {
  font-size: 15px;
}

.comment_modify_button {
  display: flex;
  transition: background-color 150ms;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 2.5px 7.5px;
  cursor: pointer;
  user-select: none;
}
.comment_modify_button span {
  font-weight: 600;
  margin-left: 7.5px;
}
.comment_modify_button svg {
  font-size: 13px;
}

.reply,
.edit {
  color: var(--purple);
}
.reply:hover,
.edit:hover {
  background-color: var(--light-gray);
}

.edit_section {
  display: flex;
  gap: 5px;
}

.delete {
  color: rgba(247, 22, 22, 0.852);
}
.delete:hover {
  background-color: rgba(247, 22, 22, 0.15);
}

.comment_body {
  margin-left: 25px;
}
.comment_body p {
  overflow-wrap: anywhere;
}

.score_counter {
  width: 45px;
  height: 110px;
  background: var(--light-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
}

.score_counter button {
  transition: background 100ms;
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  color: var(--gray);
  font-size: 15px;
  background: none;
}

.score_counter h3 {
  color: var(--purple);
}

.score_counter button:hover {
  color: var(--purple);
}

@media (max-width: 725px) {
  #comment,
  #reply {
    flex-direction: column;
    padding: 15px;
  }
  #comment .comment_body,
  #reply .comment_body {
    margin: 0 0 15px;
  }
  #comment .comment_body,
  #reply .comment_body,
  .score_counter button:last-child {
    order: -1;
  }

  .replies_section::before {
    left: 0;
  }

  .header_reply {
    display: none;
  }
  .comment_aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aside_reply {
    display: block;
  }

  .score_counter {
    width: clamp(95px, 40vw, 110px);
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  .score_counter button {
    width: 35px;
    height: 100%;
  }
  .score_counter button:first-child {
    order: 1;
  }
  .score_counter h3 {
    font-size: 15px;
  }
}
